#container {
    display: flex;
    flex-wrap: wrap;
    min-width: 1400px;
    max-width: 1400px;
    min-height: 800px;
    max-height: 800px;
    align-content: stretch;
}

div.squares {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    min-width: 10px;
}

.button {
    display: block;
    margin: auto;
}